{% extends "layout.html" %}

{% block body %}
<div class="home">
    <div class="title">
        <h2>About Page</h2>
    </div>
    <div class="content-about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sem odio, feugiat sit amet nibh quis, auctor suscipit quam. Fusce a gravida lorem. Nunc sit amet libero non nunc tempus mollis sit amet eu nunc. Nam malesuada justo nec mi porta tincidunt. Suspendisse tempus lectus est. Vivamus quis mi placerat, rutrum justo et, mattis odio. Praesent nec pharetra urna, tempor tempor erat. Pellentesque ac purus ut dolor viverra molestie. Sed accumsan, sem sed iaculis tincidunt, tellus nisl imperdiet felis, non malesuada leo elit eget tortor. Nunc ac laoreet mi, ac elementum elit. Maecenas in ligula non diam rutrum tristique. Nullam diam tortor, pellentesque eget consectetur sit amet, vestibulum vitae quam.
        <br>
        <span style="font-size: 16px;">by json-0201</span>
    </div>
</div>
{% endblock %}